:root {
  --shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(235, 235, 235);
  --border: 2px outset rgb(233, 233, 233);
}

:is(h1, h2, h3, h4, h5, h6) {
  color: rgb(94, 94, 94);
}

* {
  border-radius: 5px;
  font-family: 'Raleway';
}

body {
  width: 100%;
  margin: 0;
  background-color: #73b7ff;
}

.homepage {
  display: flex;
}

.title {
  display: flex;
  font-size: 2.2em;
  font-weight: bolder;
  color: var(--primary);
  background-image: linear-gradient(#b6d9ff, #73b7ff);
  border-radius: 0;
  margin: 0 0 0 0;
  padding: 0.5em 0 0.7em 1em;
}

.noValues {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}

.addressContainer {
  min-height: 70vh;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border: var(--border);
  margin: 1em 1em 0 0.5em;
  padding: 0 2em 1em 2em;
  overflow: scroll;
}

.eventsContainer {
  min-height: 79.2vh;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border: var(--border);
  margin-top: 0.75em;
  padding: 0 2em 1em 2em;
  overflow: scroll;
}

.eventsContainer div {
  display: flex;
  align-items: center;
}

.eventsContainer div button {
  margin-left: 1em;
}

.event {
  display: flex;
  background-color: var(--primary);
  box-shadow: var(--shadow);
  border: var(--border);
  margin-top: 1em;
  padding: 0 1.5em 0 1.5em;
}

.event p {
  margin-left: auto;
}

p:last-of-type {
  margin-left: auto;
}

.compare {
  display: flex;
}

.compare button {
  margin: 0 0 0.5em 0;
}

.addressCard {
  background-color: white;
  box-shadow: var(--shadow);
  border: var(--border);
  padding: 1em 2em 1em 2em;
}

.event {
  display: flex;
  align-items: center;
  justify-items: space-around;
}

.changeDetails {
  min-width: 45vw;
  min-height: 75vh;
  max-height: 75vh;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  margin: 1em 2em 0 1em;
  overflow: scroll;
}

.singleCompareDetail {
  background-color: white;
  box-shadow: var(--shadow);
  border: var(--border);
  margin-bottom: 1em;
  padding-bottom: 1em;
}
